body{
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

main{
    background-color: #1f1f1f;
    height: 611px;
    width: 364px;
    border-radius: 12px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section img{
    width: 88px;
    height: 88px;
    border-radius: 100%;
    margin: 40px 24px;
}

section h1{
    color: #FFFFFF;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    font-family: 'Inter', serif;
}

section h6{
    color: #C4F82A;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

section p{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
}

section button{
    background-color: #333333;
    color: #FFFFFF;
    padding: 12px;
    width: 304px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
}

section button:hover {
    background-color: #C4F82A;
    color: #333333;
}